#loginCover{background: url("/static/images/stones.jpg");}
body{background: rgb(31, 53, 70);}
#submit{background-color: rgb(47, 75, 105);}
#submit:hover{background-color: rgb(63, 98, 136);}
#submit:active{background-color: rgb(79, 122, 170);}